.column {
    width: 4.9vh;
    height: 4.9vh;
    margin: 0.2vh;
    /* background-color: rgb(110, 173, 251); */
    background-color: rgb(161, 208, 252);
    border: 0.7vh rgb(55, 55, 249) solid;
    border-radius: 50%/50%;
    /* outline: rgb(12, 12, 75) 0.4vw solid; */
    outline: white 0.2vh solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.9vh;
}

.row {
    display: flex;
}

#grid {
    border: 1vh darkblue double;
    border-radius: 10%;
    background-color: blue;
    padding: 1vh;
    width: 47vh;
    height: 41vh;
    margin: auto;
}

body {
    text-align: center;
    background-color: rgb(161, 208, 252);
    /* background-color: rgba(102, 184, 252, 0.439); */
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7.7vh;
    text-align: center;
}

#h1red {
    color: red;
    text-shadow: 0.3vh 0.3vh 0.2vh yellow, 0.5vh 0.5vh 0.3vh white;
}

#h1yellow {
    color: yellow;
    text-shadow: 0.3vh 0.3vh 0.2vh red, 0.5vh 0.5vh 0.3vh white;
}

#four {
    color: yellow;
    text-shadow: 0.3vh 0.3vh 0.2vh red, 0.5vh 0.5vh 0.3vh white;
    border: red 1.7vh dotted;
    border-radius: 50%/50%;
    margin: 1vh;
    padding-right: 2.3vh;
    padding-bottom: 3vh;
}

#winner-display {
    display: none;
    font-size: 4vh;
    letter-spacing: 0.5vh;
    color: white;
    margin: 4vh;
}

#winner-name {
    border: darkblue dashed 0.2vh;
    border-radius: 50%/50%;
    font-size: 5vh;
    padding: 1.1vh;
    padding-bottom: 1vh;
    padding-top: 1.3vh;
    padding-left: 1.6vh;
}

#show-whose-turn {
    font-size: 4vh;
    letter-spacing: 0.5vh;
    color: white;
}

#whose-turn {
    border: darkblue dashed 0.2vh;
    border-radius: 50%/50%;
    font-size: 5vh;
    padding: 1.1vh;
    padding-bottom: 1vh;
    padding-top: 1.3vh;
    padding-left: 1.6vh;
}

#column-full {
    display: none;
}

#players {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label[for=red-player] {
    color: red;
    font-weight: bold;
}

#players {
    font-size: 2.4vh;
    margin: 0.8vh;
}

#red-player {
    background-color: rgba(9, 48, 244, 0.735);
    margin: 0.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3vh;
    border: red 0.6vh solid;
    border-radius: 10%/50%;
    text-align: center;
}

#red-player::placeholder {
    color: white;
    opacity: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

label[for=yellow-player] {
    color: yellow;
    font-weight: bold;
    padding-left: 2vh;
}

#yellow-player {
    background-color: rgba(9, 48, 244, 0.735);
    margin: 0.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3vh;
    border: yellow 0.6vh solid;
    border-radius: 10%/50%;
    text-align: center;
}

#yellow-player::placeholder {
    color: white;
    opacity: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

input,
select,
textarea {
    color: white;
}

textarea:focus,
input:focus {
    color: white;
}

#submit {
    background-color: rgba(0, 0, 139, 0.776);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8vh;
    letter-spacing: 0.4vh;
    padding: 0.4vh;
    padding-left: 0.9vh;
    border: rgb(82, 127, 251) 0.5vh outset;
    border-radius: 60%/15%;
    margin: 0.5vh;
}

#reset-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vh;
    font-weight: bold;
    text-justify: center;
    padding: 1.2vh;
    color: white;
    background-color: red;
    border: yellow 0.8vh double;
    border-radius: 20%/50%;
}

#button {
    margin: 2vh;
}
