.column {
    /* max-width: 100%;
    max-height: 100%;
    min-width: 40px;
    min-height: 40px; */
    width: 11vw;
    height: 11vw;
    margin: 2.5vw;
    border: 3px dashed deeppink;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

/*figure out a way to get my x and o a set size % within the box */

.row {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

#grid {
    font-size: 8vw;
}

#winner-display {
    display: none;
    font-size: larger;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 9px;
    font-size: 3vw;
    background-image: linear-gradient(aquamarine, rgb(251, 83, 173), deeppink);
    border: 8px aquamarine double;
    border-radius: 25%/250%;
    padding: 1%;
    margin: auto;
    color: aquamarine;
    max-width: 80%;
    max-height: 20%;
    margin-bottom: 2%;
}

body {
    text-align: center;
    /*  background-color:rgb(220, 250, 246); */
    background-color: aliceblue;
    color: deeppink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 7px double aquamarine;
    outline: 10px double rgb(251, 83, 173);
    margin: 3%;
    padding: 2%;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: deeppink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    padding-bottom: 6% auto;
    text-shadow: 3px 3px 2px aquamarine, 4px 4px 2px deeppink;
    font-size: 6vw;
    text-align: center
        /* text-transform: uppercase; */
}

p {
    font-size: medium;
}

#row-0-column-0 {
    color: aquamarine;
    background-color: deeppink;
    border: 3px dashed aquamarine;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
}

#row-0-column-2 {
    color: aquamarine;
    background-color: deeppink;
    border: 3px dashed aquamarine;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
}

#row-1-column-1 {
    color: aquamarine;
    background-color: deeppink;
    border: 3px dashed aquamarine;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
}

#row-2-column-0 {
    color: aquamarine;
    background-color: deeppink;
    border: 3px dashed aquamarine;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
}

#row-2-column-2 {
    color: aquamarine;
    background-color: deeppink;
    border: 3px dashed aquamarine;
    /* inner border */
    box-shadow: 2px 3px 5px 9px deeppink;
    /* outer 'border' */
    outline: 4px solid rgb(220, 250, 246);
    /* fill */
}

#players {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#noughts-player {
    background-color: aquamarine;
    margin: 1vw;
    font-size: 3vw;
    border: rgb(220, 250, 246) 1vw solid;
}

#noughts-player::placeholder {
    color: deeppink;
    opacity: 1;
    font-style: italic;
}

#crosses-player {
    background-color: aquamarine;
    margin: 1vw;
    font-size: 3vw;
    border: rgb(220, 250, 246) 1vw solid;
}

#crosses-player::placeholder {
    color: deeppink;
    opacity: 1;
    font-style: italic;
}

input,
select,
textarea {
    color: rgb(251, 83, 173);
}

textarea:focus,
input:focus {
    color: deeppink;
}

#submit {
    background-color: deeppink;
    color: rgb(220, 250, 246);
    font-weight: bold;
    font-size: 2.5vw;
    margin: 1.5vw;
    padding: 0.8vw;
    border-radius: 20%/50%;
    border: aquamarine 0.5vw dotted;
}

#reset-button {
    margin-top: 3%;
    max-width: 35%;
    max-height: 80%;
    background-color: deeppink;
    color: rgb(220, 250, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2mm;
    font-size: 2vw;
    text-justify: center;
    text-indent: 5%;
    padding: 1%;
    border: aquamarine outset 5px;
    border-radius: 70%/20%;
}
